body {
	background-color:#FFCCBC;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
#container:hover {
	mix-blend-mode:color-burn;
}

.p {
	width: 12px;
	height: 12px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow-x: auto;
}

.yellow {
	background-color: yellow;
}


.violet {
	background-color: rgb(56, 40, 146);
}


.black {
	background-color: black;
}

.brown {
	background-color: #68391f;
}
.red {
	background-color: rgb(245, 55, 55);
}

.reddish {
	background-color: #7c492e;
}

.cream {
	background-color: #ffe8e0;
}
.shadow {
	background-color: #f8cfc1;;
}

.white {
	background-color: white;
}

.gray {
	background-color: gray;
}

.pink {
	background-color: #fca7ca;
}
.blue {
	background-color: rgb(99, 99, 214);
}

.fucsia {
	background-color: rgb(255, 135, 105);
}
